<div class="container-fluid p-2">
  <div class="d-flex">
    <div class="col-md-6 m-auto">
      <form class="bg-dark text-center" [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="card shadow dirty-white">
          <div class="card-body">
            <h4 class="card-title">Sign Up</h4>
            <hr width="50%" class="ms-auto me-auto">

            <div *ngIf="isMessage()" class="row mb-3">
              <pre class="alert" [ngClass]="getMessageClass()" role="alert">{{ getMessage() }}</pre>
            </div>
            
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input [formControlName]="'firstName'" type="text" class="form-control" id="firstName" name="firstName" placeholder="i.e, John"
                    [ngClass]="fieldClass('firstName')">
                  <label for="firstName">First Name</label>
                  <div class="invalid-feedback">
                    Please provide a valid first name
                  </div>              
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input [formControlName]="'lastName'" type="text" class="form-control" id="lastName" name="lastName" placeholder="i.e, Doe"
                    [ngClass]="fieldClass('lastName')">
                  <label for="lastName">Last Name</label>
                  <div class="invalid-feedback">
                    Please provide a valid last name
                  </div>  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input [formControlName]="'email'" type="email" class="form-control" id="email" name="email" placeholder="i.e, John.Doe@domail.com"
                    [ngClass]="fieldClass('email')">
                  <label for="email">Email</label>
                  <div class="invalid-feedback">
                    Please provide a valid email
                  </div>  
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input  [formControlName]="'confirmEmail'" type="email" class="form-control" id="confirmEmail" name="confirmEmail" placeholder="i.e, John.Doe@domail.com"
                    [ngClass]="fieldClass('confirmEmail', true)">
                  <label for="confirmEmail">Confirm Email</label>
                  <div class="invalid-feedback">
                    The two emails should match
                  </div>  
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating">
                  <input [formControlName]="'username'" type="text" class="form-control" id="username" name="username" placeholder="i.e, John"
                    [ngClass]="fieldClass('username')">
                  <label for="username">Username</label>
                  <div class="invalid-feedback">
                    Please provide a valid username
                  </div>  
                </div>
              </div>
              <div class="col">
                <div class="form-floating">
                  <input [formControlName]="'password'" type="password" class="form-control" id="password" name="password" placeholder="***"
                    [ngClass]="fieldClass('password')">
                  <label for="password">Password</label>
                  <div class="invalid-feedback">
                    Please provide a valid password
                  </div>  
                </div>
              </div>
            </div>
          </div>
          <div class="d-grid gap-2 m-3">
            <hr width="50%" class="ms-auto me-auto">
            <button class="btn btn-outline-primary w-75 m-auto" [disabled]="signupForm.invalid">Sign Up</button>

            <span class="text-muted">Already have an account? <a class="btn btn-outline-secondary" routerLink="/login">Login</a></span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
