<div class="container-fluid p-2">
  <div class="d-flex">
    <div class="col-md-4 m-auto mt-5">
      <div class="card shadow text-center">
        <div class="card-body">
          <h4 class="card-title">Succes</h4>
          <hr width="50%" class="ms-auto me-auto">
          
          <pre class="fw-semibold">Your account has been created successfully.
  Please open your email to
  <span class="fw-bolder fst-italic">activate</span> your account.</pre>
          <div class="d-grid mb-3">
            <hr width="50%" class="ms-auto me-auto">
            <a class="btn btn-outline-primary w-75 m-auto" routerLink="/">Go Home</a>
          </div>
      </div>
    </div>
  </div>
</div>
